@font-face{
  font-family: 'century-gothic';
  src: url('/fonts/century/GOTHICB.TTF');
  font-weight: bold;
}
@font-face{
  font-family: 'century';
  src: url('/fonts/century/GOTHIC.TTF');
}
@font-face{
  font-family: 'ginora-sans';
  src: url('/fonts/ginora_sans/GinoraSansLight.otf');
  font-weight: 200;
}
@font-face{
  font-family: 'ginora-sans';
  src: url('/fonts/ginora_sans/GinóraSansBold.otf');
  font-weight: bold;
}
@font-face{
  font-family: 'philomena-script';
  src: url('/fonts/PhilomenaScript.ttf');
  font-weight: bold;
}